html {
  height: 100%;
  width: 100%;
}
body {
  color: #02020b;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  background-color: #ece4b7;
  padding: 10px;
}
.content {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.footer {
  background-color: #ece4b7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center-content {
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  font-size: 60pt;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 30%;
  background-color: #fffbf7;
  border-color: #efb97f;
  cursor: pointer;
}
input[type="submit"]:hover {
  font-size: 60pt;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 30%;
  background-color: #7fb069;
  border-color: #efb97f;
  cursor: pointer;
}
table {
  margin: 0 auto;
  border-spacing: 0;
}

.digit {
  font-size: 60pt;
  text-align: center;
  padding: 3px;
  margin: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #efb97f;
}
.UNKNOWN {
  background-color: #fffbf7;
}
.VALID {
  background-color: #7fb069;
}
.INVALID {
  background-color: #d36135;
}
.MULTIPLE {
  background-color: #517fa8;
}
.LEFT {
  background-color: #d1e668;
}

.RIGHT {
  background-color: #e6aa68;
}

.active {
  background-color: #ece4b7;
}
.row-action {
  width: 200px;
}
h1 {
  font-size: 60pt;
}
h3 {
  font-size: 24pt;
}
.won {
  color: #7fb069;
}
.lost {
  color: #d36135;
}
.result {
  text-align: center;
  padding-bottom: 50px;
}
.hint {
  font-size: 24pt;
}
